.Home {
  display: flex;
  justify-content: space-between;
  background-image: url("https://i.pinimg.com/originals/de/1d/df/de1ddf9ee30e08e15460626b919ef87e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 730px;
}

.right-section-home {
  margin-right: 30px;
  width: 212px;
  height: 500px;
  margin-top: 30px;
}

.second-row-home {
  display: flex;
}

.third-row-home {
  display: flex;
}

.food-home {
  background: #e72011;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 50px;
  padding-left: 22px;
}

.food-home:hover {
  background: white;
  color: #e72011;
}

.mail-home {
  background: hsl(164deg 54% 55%);
  border: 1px solid #fff;
  margin-left: 10px;
  color: #fff;
  font-size: 50px;
  padding-left: 22px;
  padding-top: 5px;
  width: 100px;
  height: 100px;
}

.mail-home:hover {
  background: white;
}

.social-1,
.social-2 {
  display: flex;
  justify-content: space-between;
}

.mail-home,
.social-boxes {
  width: 100px;
  height: 100px;
}

.Facebook {
  background: #fff;
  width: 48px;
  height: 48px;
  margin-top: 5px;
  border: 1px solid #fff;
  padding-left: 10px;
}

.Facebook:hover {
  background: #3b5998;
  color: white;
}

#Facebook {
  font-size: 25px;
  color: #3b5998;
}

.Amazon {
  background: #f90;
  width: 48px;
  height: 48px;
  margin-top: 5px;
  border: 1px solid #fff;
  padding-left: 10px;
}

.Amazon:hover {
  background: #000;
  color: #f90;
}

#Amazon {
  font-size: 25px;
  color: #000;
}

.Netflix {
  background: #e50914;
  width: 48px;
  height: 48px;
  margin-top: 4px;
  border: 1px solid #fff;
  padding-left: 10px;
}

.Netflix:hover {
  background: white;
  color: #e50914;
}

#Netflix {
  color: #fff !important;
  font-size: 25px;
}

.Youtube {
  background: #fff;
  width: 48px;
  height: 48px;
  margin-top: 4px;
  border: 1px solid #fff;
  padding-left: 10px;
}

.Youtube:hover {
  background: #c4302b;
  color: white;
}

#Youtube {
  font-size: 25px;
  color: #c4302b;
}

.Stocks {
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 50px;
  padding-left: 22px;
}

.Stocks:hover {
  background: white;
  color: cadetblue;
}

#Stocks {
  font-size: 25px;
  color: white;
}

.stocks {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 10px;
  /* border: 1px solid #fff; */
  background: cadetblue;
  cursor: pointer;
}

.profile-div {
  border: 1px solid white;
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
  background: white;
}

.profile-info {
  background: #de554b;
  margin: 20px 5px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
}

.profile-info label {
  padding-top: 13px;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 1px 1px grey;
}

.profile-info p {
  padding-bottom: 13px;
  font-weight: bolder;
  text-shadow: 1px 1px grey;
}

#update-button {
  width: 135px !important;
  height: 37px;
  background: #bfbf26;
  color: #4c3838;
  margin-bottom: 19px;
  margin-top: 5px !important;
  outline: none;
  border: 1px solid white;
  font-weight: bolder;
}

img {
  border: 1px solid rgb(204, 198, 198) !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .Home {
    flex-direction: column;
    height: 100% !important;
  }
  .profile-div {
    width: 90% !important;
    margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .greeting-text {
    width: 100% !important;
  }
  .calendar-box {
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  .News {
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  .news-img-div img {
    width: 90% !important;
    margin: auto !important;
  }

  .news-details-div,
  .news-img-div img {
    width: 96% !important;
    margin: auto !important;
    margin-bottom: 13px !important;
    margin-top: 10px !important;
    margin-left: 6px !important;
  }

  img {
    border: 1px solid white !important;
  }

  .weather-div {
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  .right-section-home {
    width: 100% !important;
  }
  .second-row-home {
    width: 100% !important;
  }
  .food-home {
    width: 125px !important;
    padding-left: 34px !important;
    padding-top: 7px;
  }
  .mail-home {
    width: 125px !important;
    margin-left: 11px !important;
    padding-left: 34px !important;
    padding-top: 7px;
  }
  .Stocks {
    width: 125px !important;
    padding-left: 34px !important;
    padding-top: 7px;
  }
  .stocks {
    width: 125px !important;
    margin-left: 36px !important;
    border: 0px solid white !important;
  }
  .Facebook {
    width: 55px !important;
    padding-left: 14px !important;
    padding-top: 3px;
  }
  .Amazon {
    width: 55px !important;
    padding-left: 14px !important;
    padding-top: 3px;
  }
  .Netflix {
    width: 55px !important;
    padding-left: 14px !important;
    padding-top: 3px;
  }
  .Youtube {
    width: 55px !important;
    padding-left: 14px !important;
    padding-top: 3px;
  }
  .social-1 {
    width: 125px;
  }
  .social-2 {
    width: 125px;
  }
  .social-media {
    width: 90% !important;
    margin: auto;
  }

  /* Todo Form */
  .todo-input {
    width: 100% !important;
    flex-direction: column;
  }
  .todo-input input {
    width: 100% !important;
  }
  #add-button {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 5px !important;
  }
  .TodoForm {
    width: 100% !important;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .food-home {
    width: 145px !important;
    padding-left: 47px !important;
    padding-top: 7px;
  }
  .mail-home {
    width: 145px !important;
    margin-left: 19px !important;
    padding-left: 47px !important;
    padding-top: 7px;
  }
  .Stocks {
    width: 145px !important;
    padding-left: 47px !important;
    padding-top: 7px;
  }
  .stocks {
    width: 145px !important;
    margin-left: 64px !important;
    border: 0px solid white !important;
  }
  .Facebook {
    width: 70px !important;
    padding-left: 22px !important;
    padding-top: 3px;
  }
  .Amazon {
    width: 70px !important;
    padding-left: 22px !important;
    padding-top: 3px;
  }
  .Netflix {
    width: 70px !important;
    padding-left: 22px !important;
    padding-top: 3px;
  }
  .Youtube {
    width: 70px !important;
    padding-left: 22px !important;
    padding-top: 3px;
  }
  .social-1 {
    width: 145px !important;
  }
  .social-2 {
    width: 145px !important;
  }
  .social-media {
    width: 90% !important;
    margin: auto;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .food-home {
    width: 165px !important;
    padding-left: 57px !important;
    padding-top: 7px;
  }
  .mail-home {
    width: 165px !important;
    margin-left: 15px !important;
    padding-left: 57px !important;
    padding-top: 7px;
  }
  .Stocks {
    width: 165px !important;
    padding-left: 57px !important;
    padding-top: 7px;
  }
  .stocks {
    width: 165px !important;
    margin-left: 80px !important;
    border: 0px solid white !important;
  }
  .Facebook {
    width: 80px !important;
    padding-left: 29px !important;
    padding-top: 3px;
  }
  .Amazon {
    width: 80px !important;
    padding-left: 29px !important;
    padding-top: 3px;
  }
  .Netflix {
    width: 80px !important;
    padding-left: 29px !important;
    padding-top: 3px;
  }
  .Youtube {
    width: 80px !important;
    padding-left: 29px !important;
    padding-top: 3px;
  }
  .social-1 {
    width: 165px !important;
  }
  .social-2 {
    width: 165px !important;
  }
  .social-media {
    border: 1px solid pink;
    width: 90% !important;
    margin: auto;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .food-home {
    width: 140px !important;
    padding-left: 45px !important;
    padding-top: 7px;
  }
  .mail-home {
    width: 140px !important;
    margin-left: 30px !important;
    padding-left: 44px !important;
    padding-top: 7px;
  }
  .Stocks {
    width: 140px !important;
    padding-left: 44px !important;
    padding-top: 7px;
  }
  .stocks {
    width: 140px !important;
    margin-left: 70px !important;
    border: 0px solid white !important;
  }
  .Facebook {
    width: 65px !important;
    padding-left: 21px !important;
    padding-top: 3px;
  }
  .Amazon {
    width: 65px !important;
    padding-left: 21px !important;
    padding-top: 3px;
  }
  .Netflix {
    width: 65px !important;
    padding-left: 21px !important;
    padding-top: 3px;
  }
  .Youtube {
    width: 65px !important;
    padding-left: 21px !important;
    padding-top: 3px;
  }
  .social-1 {
    width: 140px !important;
  }
  .social-2 {
    width: 140px !important;
  }
  .social-media {
    border: 1px solid pink;
    width: 90% !important;
    margin: auto;
  }
}
